<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AMDRadeonEllesmereGVA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dummy Configuration Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EllesmereHEVC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDEllesmereGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver2</string>
			<key>IOGVACodec</key>
			<string>AMDU6V3</string>
			<key>IOGVAHEVCDecode</key>
			<string>1</string>
			<key>IOGVAHEVCEncode</key>
			<string>1</string>
			<key>IOGVAVTCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x67DF1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
		</dict>
	</dict>
</dict>
</plist>
